node_modules
docker
docs
src/**/*.ts
tests/**/*.ts
dist/tests
coverage
config.dev.json
Makefile
ava.config.integration.js
ava.config.unit.js
tsconfig.json
.eslintignore
.vscode
.eslintrc.js
.npmrc.template
.nycrc.json
.editorconfig
.gitignore
.travis.yml
.nyc_output
.test
